<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_pdfsign">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.document.docease.App"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">
        <activity
            android:name=".pdfdigitalsignature.Signature.FreeHandActivity"
            android:label="Draw Signature"
            android:screenOrientation="landscape"
            android:theme="@style/style_main_pdf_sign" />
        <activity
            android:name=".pdfdigitalsignature.Signature.SignatureActivity"
            android:label="Signatures"
            android:screenOrientation="portrait"
            android:theme="@style/style_main_pdf_sign" />
        <activity
            android:name=".pdfdigitalsignature.DigitalSignatureActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/style_main_pdf_sign" />
        <activity
            android:name=".pdfdigitalsignature.MainActivity"
            android:exported="false"
            android:label="Sign PDF"
            android:screenOrientation="portrait"
            android:theme="@style/style_main_pdf_sign">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter
                android:scheme="http"
                tools:ignore="AppLinkUrlError">
                <action
                    android:name="android.intent.action.VIEW"
                    tools:ignore="AppLinkUrlError" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="${applicationId}.provider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/file_paths" />-->
        <!--        </provider>-->
    </application>

</manifest>