<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/DocEase.Splash.Theme"
        tools:targetApi="31">

        <activity
            android:name=".ui.module.main.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/DocEase.Splash.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.module.editors.ViewEditorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/style_main"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.module.preview.PreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/style_main"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/comma-separated-values" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/x-hwp" />
                <data android:mimeType="image/x-wmf" />
                <data android:mimeType="image/x-emf" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
                <data android:mimeType="application/vnd.ms-word.template.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
                <data android:mimeType="application/vnd.ms-excel.template.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.sheet.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template" />
                <data android:mimeType="application/vnd.ms-powerpoint.template.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.slideshow.macroenabled.12" />
                <data android:mimeType="application/powerpoint" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/20180305-ww" />
                <data android:mimeType="text/crash_reported" />
                <data android:mimeType="text/pro" />
                <data android:mimeType="text/gradlew" />
                <data android:mimeType="text/properties" />
                <data android:mimeType="text/bat" />
                <data android:mimeType="text/gradle" />
                <data android:mimeType="text/cpt" />
                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/obj" />
                <data android:mimeType="text/plist" />
                <data android:mimeType="text/java" />
                <data android:mimeType="text/nledata" />
                <data android:mimeType="text/project" />
                <data android:mimeType="text/frag" />
                <data android:mimeType="text/conf" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.artifex.sonui.ChoosePathActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/style_main"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.artifex.sonui.editor.SlideShowActivity"
            android:theme="@style/style_main_2" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
            <meta-data
                android:name="android.supportv1.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>